/* 
* MDN Page Styles Index
* 
* lester-carpenter MDN site globals
*
* mdn-html.html (Assessments index page)
*
* mdn-js-loops.html
* mdn-js-events.html
* mdn-errors.html
* mdn-js-functions1.html
* mdn-js-conditionals.html
* University Ltr
* html-text-adv1.html
* whales.html
* hummus-recipe.html
* html-text-basics2
* html-text-basics1
*/

/* mdn-html.html (Assessments index page) */

/* mdn-js-loops.html */
#loops .vip,
#loops .riffraff {
	padding: 10px;
	background-color: linen;
	margin: 1em 0;
	border: solid 1px black;
}
abbr[title="Very Important Persons"],
span.guests {
	font-style: italic;
}

.contactsOutput::before,
.guestsOutput::before  {
	display: block;
	color: #a41b5f; /* site red */ 
	font-weight: bold;
}
.contactsOutput::before {
	content: 'Contacts List';
}
.guestsOutput::before {
	content: 'Guest List';
}
.contactsOutput {
	font-weight: bold;
}
#search:focus {
  background-color: #a41b5f;
  color: linen; 
}

/* mdn-js-events.html */
.orangeOn {
	color: orange;
	background-color: #222;
	border-radius: 4px;
	padding: 2px 4px;
	border: solid black 1px; 
}

/* mdn-errors.html */
/* html {
	font-family: sans-serif;
}

/* mdn-js-functions1.html */
#js-functions-1 h2:nth-child(1) + p {
	padding: 20px;
	border: 1px solid black;
	text-align: center;
	color: purple;
	font-weight:600;
	background-color:lightgrey;
	max-width: 100%;
}
.capNameTitle + label,
.capNameTitle + input {
	margin: .75em 0;
}

/* mdn-js-conditionals.html a.k.a. Weather App */
.weather-app-wrapper {
	background-color: #dcdcdc;
	padding: 15px;
	border-radius: 5px;
	max-width: 582px;
	margin: 0 auto;
}
.weather-app code {
	background-color:#eee;
	color: #800;
}

/* University Ltr */
.univ-ltr {
	max-width: 800px;
  margin: 20px auto;
}
.sender-column {
  text-align: right;
}
h1 {
  font-size: 1.5em;
}
p, li, dd, dt, address {
  line-height: 1.5;
}

/* html-text-adv1 */
.adv-html h2 {
	font-size: 2rem;
	margin: 0;
}
.adv-html dl {
	color: grey;
	margin: .5em 0;
}
.adv-html dt {
	font-weight: bold;
	color: purple;
}
.adv-html abbr,
.adv-html time {
	color: green;
}

/* Whales page / */
.mdn-page-wrap {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}
.mdn-main-content {
	flex: 1 0 auto;
}
.test-info-wrap,
.whale-info-wrap {
	border: 1px solid #4D4E53;
	max-width: 800px;
	margin: 60px auto;
	padding: 1em;
}
.whale-info-wrap ul {
	margin-left: 2em;
}
.whale-info-wrap li {
	line-height: 2em;
	color: gray;
}
.test-info-wrap h2,
.test-info-wrap h3,
.mdn-text-basics3 strong {
	color: purple;
}
.test-info-wrap p {
	color: grey;
}

/* Hummus Recipe */
.ingredients-list li {
	list-style: none;
}
.ingredients-list li,
.instructions-list li {
	margin-bottom: .5rem;
	line-height: 1.5rem;
}

/* HTML Text Basics 2 - Lists */
.basics2-veg-list {
	border: 2px solid orange;
}
.basics2-directions-list {
	border: 2px solid purple;
}
.basics2-directions-list,
.basics2-veg-list {
	padding: 5px 20px;
	border-radius: 4px;
}
.mdn-text-basics2 p,
.mdn-text-basics3 p {
	color: inherit;
}

/* HTML Text Basics 1 */
.index-list {
	border: solid 1px red;
}




























