/* 
* Odin Project Page Styles Index
* 
* drum-kit.html
* loops.html
* array-functions.html
* rps.html (Rock Paper Scissors)
* Reset
*/

/* drum-kit.html */
.odin-drum-kit + #main-content {
  background-image: url('../../images/odin-project-images/pexels-mantas-hesthaven-354304.jpg');
  /* cover */
  background-size: cover;
}
#site-header {
  flex: 0;
}

/* loops.html */
#btn2,
.buttonNodeList {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}
.foo {
  font-size: 20px;
}
#bar { 
  text-align: right;
}
.test {
  color: rgb(13, 96, 219);
  background-color: linen;
  padding: 10px;
  border: dotted 10px black;
}
.post-title {
  background-color: green;
  border: dotted black 3px;
}
.post-title a {
  font-size: 24px;
}
.countdown-output,
.guest-list {
  border: 1px solid black;
  padding: 1em;
}
/* .search-form {
  margin: 2em 0 0 40px;
} */
#search:focus {
  background-color: purple;
  color: linen; 
}
input#menu-toggle:focus {
  border: 3px solid yellow;
}
.math {
  display: block;
  padding: 1em;
  font-size: 1.3em;
}

/* array-functions.html */
dt {
  padding: .5rem 0;
}
dd {
  padding-bottom: 1rem;
}
dt + span {
  color: red;
  display: block;
  padding-bottom: 16px;
}

/* rps.html (Rock Paper Scissors) */

/* Reset */
ul {
  list-style: none;
}
  .rps span {
    color: #a41b5f;
  }

  /* Mobile */
  h2 {
    text-align: center;
  }
  .article-body-wrap {
    display: block;
  }

  /* Desktop */
  @media screen and (min-width: 600px) {
    h2 {
      text-align: left;
    }
  }