/* 
* Odin Project Page Styles Index
* 
* rps.html (Rock Paper Scissors)
* array-functions.html
*/

/* array-functions.html */
dt {
  padding: .5rem 0;
}
dd {
  padding-bottom: 1rem;
}
dt + span {
  color: red;
  display: block;
  padding-bottom: 16px;
}

/* rps.html (Rock Paper Scissors) */

/* Reset */
ul {
  list-style: none;
}
  .rps span {
    color: #a41b5f;
  }

  /* Mobile */
  h2 {
    text-align: center;
  }
  .article-body-wrap {
    display: block;
  }

  /* Desktop */
  @media screen and (min-width: 600px) {
    h2 {
      text-align: left;
      /* color: yellow; */
    }
  }